[submodule "web/viewer"]
	path = web/viewer
	url = https://github.com/GIStudio/Viewer.git
[submodule "tools/download3dAssets"]
	path = tools/download3dAssets
	url = https://github.com/GIStudio/download3dAssets.git
[submodule "src/roadgen3d/eval_engine_ext"]
	path = src/roadgen3d/eval_engine_ext
	url = https://github.com/wsqstar/road-metrics.git
[submodule "vendor/RoadPen"]
	path = vendor/RoadPen
	url = https://github.com/GIStudio/RoadPen.git
[submodule "vendor/RoadGen"]
	path = vendor/RoadGen
	url = https://github.com/wsqstar/RoadGen.git
[submodule "metaurban"]
	path = metaurban
	url = https://github.com/metadriverse/metaurban.git
	update = none
